
body {
    background: lightgreen;
}

img {
    height:150px;
}
li{
    color:darkred;
}

.whitetext {
    color:aliceblue;
}
.black-text {
    color:black;
}
.blue-bg {
    color:blue;
}

#font-32{
    font-size:32px;
}